<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<table>
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Роли пользователя</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${listUser}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.getRoles()}"></td>
            <td><a th:href="@{user/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{user_delete/{id}(id=${user.id})}">Delete</a></td>

        </tr>
    </tbody>
</table>
</body>
</html>